<app-navbar></app-navbar>

<div class="container">
  <div class="row my-4" *ngFor="let post of posts">
    <div class="col-md-6">
      <div
        class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
      >
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0">{{ post.title }}</h3>
        <p class="card-text mb-auto">
            {{ post.content }}
          </p>
          <a class="stretched-link" (click)="getPostById(post.id)"
            >Continue reading</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
